dist/index.jade
extends template/layout
block content
    section.first-section
        .container.relative
            h1.first__title.bordered Поможем Вам <b>открыть<br> или усовершенствовать</b><br> Ваш образовательный центр
            .first__text Окажем всестороннюю юридическую и методическую поддержку
            a.btn.first__btn.showModal(href="#callbackModal") Получить бесплатную консультацию
            .first__edges
                .first-edge.first-edge--clock
                    .first-edge__text <b>Быстрые</b><br> результаты работы
                .first-edge.first-edge--case
                    .first-edge__text <b>Практический</b><br> опыт с 2008 года
                .first-edge.first-edge--docs
                    .first-edge__text <b>Индивидуальный</b><br> подход к каждому проекту
            .first__img
                img(src="img/first-woman.png")
                .human.first__human
                    .human__name Алёна Яковлева
                    .human__info Сильный юрист-практик в сфере образования, коуч, владелец сети образовательных центров

    section.consult-section#consult
        .container
            h2.section__title.bordered Пройдите небольшой опрос и получите грамотную консультацию
            .consult__wrapper
                .consult__block

    section.help-section#help
        .container.relative.help__container
            h2.section__title.bordered.help__title Чем я могу Вам помочь
            .help__img
                img(src="img/help-woman.png")
            .row.help__row
                .help__left
                    .help__block.help-block
                        .help-block__num 1
                        .help-block__title Лицензирование бизнеса
                        ul.help-block__list
                            li Образовательная лицензия «под ключ»
                            li Лицензия на дистанционное обучение
                            li Разработка готового пакета документов для самостоятельной подачи
                            li Разработка учебных программ для лицензирования образовательной деятельности
                    .help__block.help-block
                        .help-block__num 2
                        .help-block__title Юридическое обслуживание
                        ul.help-block__list
                            li Комплект документов для ведения образовательной деятельности
                            li Организационно-правовые основы бизнеса
                            li Перевод деятельности в онлайн формат
                            li Проверки в образовательном учреждении
                    .help__block.help-block
                        .help-block__num 3
                        .help-block__title Аудит, консалтинг
                        ul.help-block__list
                            li Открытие образовательного учреждения «под ключ»
                            li Комплексный образовательный аудит
                            li Консультирование по работе учебного центра
                            li Стратегия развития компании
                .help__right
                    .help__block.help-block
                        .help-block__num 4
                        .help-block__title Обучение руководителя, персонала
                        ul.help-block__list
                            li Найм сотрудников, работа с командой
                            li Антикризисное управление
                            li Персональный коучинг, наставничество
                            li Обучение персонала по различным направлениям
                            li Эффективное делегирование

                    .help__block.help-block
                        .help-block__num 5
                        .help-block__title Методическое обеспечение вашего бизнеса
                        ul.help-block__list
                            li Разработка новых прибыльных направлений «под ключ»
                            li Разработка/подбор сильных учебных программ
                            li Стратегии работы с клиентами
                            li Индивидуальная работа в вашем проекте
                    .help__block.help-block
                        .help-block__num 6
                        .help-block__title Продажи, финансы
                        ul.help-block__list
                            li Построение отдела продаж «под ключ»
                            li Работа с постоянными клиентами
                            li Управление продажами
                            li SMM менеджмент
                            li Разработка маркетинговой стратегии
                            li Финансовое планирование


    section.reviews-section
        .container
            h2.section__title.bordered О нас говорят многочисленные отзывы наших клиентов
            .row.reviews#reviews
                .review
                    .review__video.video
                        video(preload="metadata" poster="vids/review1.jpg")
                            source(src="vids/review1.mp4" type="video/mp4")
                        button.btn.video__btn.playReview(type="button") Смотреть видеоотзыв
                    .review__content
                        .review__name Наталья Заборенко
                        .review__info Помощь в открытии детского центра
                .review
                    .review__video.video
                        video(preload="metadata" poster="vids/review2.jpg")
                            source(src="vids/review2.mp4" type="video/mp4")
                        button.btn.video__btn.playReview(type="button") Смотреть видеоотзыв
                    .review__content
                        .review__name Наталья Заборенко
                        .review__info Помощь в открытии детского центра
                .review
                    .review__video.video
                        video(preload="metadata" poster="vids/review3.jpg")
                            source(src="vids/review3.mp4" type="video/mp4")
                        button.btn.video__btn.playReview(type="button") Смотреть видеоотзыв
                    .review__content
                        .review__name Наталья Заборенко
                        .review__info Помощь в открытии детского центра
            .text-reviews
                each i in [1,2,3,4,5,6]
                    .text-review
                        img(src="img/text-review-#{i}.png")


    section.edges-section
        .container.relative
            h2.section__title.bordered.edges__title 6 неоспоримых преимуществ работы со мной
            .row.edges
                .edge
                    .edge__icon.edge__icon--grow
                    .edge__text <b>Гарантирую</b> высокие результаты того, за что берусь
                .edge
                    .edge__icon.edge__icon--folder
                    .edge__text <b>Научу Вас не бояться</b> у меня богатый опыт успешного прохождения всевозможных проверок
                .edge.last-right
                    .edge__icon.edge__icon--map
                    .edge__text <b>Работаю по всей России</b> от Калининграда до Владивостока
                .edge.last-bottom
                    .edge__icon.edge__icon--timer
                    .edge__text <b>Ценю Ваше время</b> Проведу Вас коротким путем к желаемым целям
                .edge.last-bottom
                    .edge__icon.edge__icon--law
                    .edge__text <b>Практика и опыт</b> Отлично разбираюсь в законах
                .edge.last-bottom.last-right
                    .edge__icon.edge__icon--order
                    .edge__text <b>Качественные услуги</b> официально и по договору
            .edges__img
                img(src="img/edges-woman.png")

build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Best</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div id="main">
      <div id="modalBg" class="modal-bg"></div>
      <div id="successModal" class="modal"><a href="#" class="modal__close closeModal"></a>
        <div class="modal__content">
          <div class="success">
            <div class="success__message">Заявка успешно отправлена</div><img src="img/success.png" class="success__img"/><a href="#" class="btn closeModal">Закрыть</a>
          </div>
        </div>
      </div>
      <div id="callbackModal" class="modal"><a href="#" class="modal__close closeModal"></a>
        <div class="modal__content">
          <div class="modal__form">
            <form class="ajaxForm">
              <div class="form__title">Получить бесплатную консультацию</div>
              <div class="form__content">
                <input type="hidden" name="action" value="consult"/>
                <input type="text" name="name" placeholder="Ваше имя" class="form__control"/>
                <input type="tel" name="phone" placeholder="Контакный телефон" class="form__control"/>
              </div>
              <button type="submit" class="btn form__btn">Отправить заявку</button>
            </form>
          </div>
        </div>
      </div>
      <header>
        <div class="container">
          <div class="row">
            <div class="logo header__logo"><img src="img/logo.png" class="hide-sm"/><img src="img/logo-short.png" class="show-sm"/></div>
            <div class="callback header__callback">
              <div class="callback__text">Есть вопрос? Звоните!</div><a href="tel:89261689861" class="callback__phone phone">+7 (926) 168 98-61</a><a href="#contactsForm" class="callback__link">Обратный звонок</a>
            </div>
          </div>
        </div>
      </header>
      <main>
        <section class="first-section">
          <div class="container relative">
            <h1 class="first__title bordered">Поможем Вам <b>открыть<br> или усовершенствовать</b><br> Ваш образовательный центр</h1>
            <div class="first__text">Окажем всестороннюю юридическую и методическую поддержку</div><a href="#callbackModal" class="btn first__btn showModal">Получить бесплатную консультацию</a>
            <div class="first__edges">
              <div class="first-edge first-edge--clock">
                <div class="first-edge__text"><b>Быстрые</b><br> результаты работы</div>
              </div>
              <div class="first-edge first-edge--case">
                <div class="first-edge__text"><b>Практический</b><br> опыт с 2008 года</div>
              </div>
              <div class="first-edge first-edge--docs">
                <div class="first-edge__text"><b>Индивидуальный</b><br> подход к каждому проекту</div>
              </div>
            </div>
            <div class="first__img"><img src="img/first-woman.png"/>
              <div class="human first__human">
                <div class="human__name">Алёна Яковлева</div>
                <div class="human__info">Сильный юрист-практик в сфере образования, коуч, владелец сети образовательных центров</div>
              </div>
            </div>
          </div>
        </section>
        <section id="consult" class="consult-section">
          <div class="container">
            <h2 class="section__title bordered">Пройдите небольшой опрос и получите грамотную консультацию</h2>
            <div class="consult__wrapper">
              <div class="consult__block"></div>
            </div>
          </div>
        </section>
        <section id="help" class="help-section">
          <div class="container relative help__container">
            <h2 class="section__title bordered help__title">Чем я могу Вам помочь</h2>
            <div class="help__img"><img src="img/help-woman.png"/></div>
            <div class="row help__row">
              <div class="help__left">
                <div class="help__block help-block">
                  <div class="help-block__num">1</div>
                  <div class="help-block__title">Лицензирование бизнеса</div>
                  <ul class="help-block__list">
                    <li>Образовательная лицензия «под ключ»</li>
                    <li>Лицензия на дистанционное обучение</li>
                    <li>Разработка готового пакета документов для самостоятельной подачи</li>
                    <li>Разработка учебных программ для лицензирования образовательной деятельности</li>
                  </ul>
                </div>
                <div class="help__block help-block">
                  <div class="help-block__num">2</div>
                  <div class="help-block__title">Юридическое обслуживание</div>
                  <ul class="help-block__list">
                    <li>Комплект документов для ведения образовательной деятельности</li>
                    <li>Организационно-правовые основы бизнеса</li>
                    <li>Перевод деятельности в онлайн формат</li>
                    <li>Проверки в образовательном учреждении</li>
                  </ul>
                </div>
                <div class="help__block help-block">
                  <div class="help-block__num">3</div>
                  <div class="help-block__title">Аудит, консалтинг</div>
                  <ul class="help-block__list">
                    <li>Открытие образовательного учреждения «под ключ»</li>
                    <li>Комплексный образовательный аудит</li>
                    <li>Консультирование по работе учебного центра</li>
                    <li>Стратегия развития компании</li>
                  </ul>
                </div>
              </div>
              <div class="help__right">
                <div class="help__block help-block">
                  <div class="help-block__num">4</div>
                  <div class="help-block__title">Обучение руководителя, персонала</div>
                  <ul class="help-block__list">
                    <li>Найм сотрудников, работа с командой</li>
                    <li>Антикризисное управление</li>
                    <li>Персональный коучинг, наставничество</li>
                    <li>Обучение персонала по различным направлениям</li>
                    <li>Эффективное делегирование</li>
                  </ul>
                </div>
                <div class="help__block help-block">
                  <div class="help-block__num">5</div>
                  <div class="help-block__title">Методическое обеспечение вашего бизнеса</div>
                  <ul class="help-block__list">
                    <li>Разработка новых прибыльных направлений «под ключ»</li>
                    <li>Разработка/подбор сильных учебных программ</li>
                    <li>Стратегии работы с клиентами</li>
                    <li>Индивидуальная работа в вашем проекте</li>
                  </ul>
                </div>
                <div class="help__block help-block">
                  <div class="help-block__num">6</div>
                  <div class="help-block__title">Продажи, финансы</div>
                  <ul class="help-block__list">
                    <li>Построение отдела продаж «под ключ»</li>
                    <li>Работа с постоянными клиентами</li>
                    <li>Управление продажами</li>
                    <li>SMM менеджмент</li>
                    <li>Разработка маркетинговой стратегии</li>
                    <li>Финансовое планирование</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="reviews-section">
          <div class="container">
            <h2 class="section__title bordered">О нас говорят многочисленные отзывы наших клиентов</h2>
            <div id="reviews" class="row reviews">
              <div class="review">
                <div class="review__video video">
                  <video preload="metadata" poster="vids/review1.jpg">
                    <source src="vids/review1.mp4" type="video/mp4"/>
                  </video>
                  <button type="button" class="btn video__btn playReview">Смотреть видеоотзыв</button>
                </div>
                <div class="review__content">
                  <div class="review__name">Наталья Заборенко</div>
                  <div class="review__info">Помощь в открытии детского центра</div>
                </div>
              </div>
              <div class="review">
                <div class="review__video video">
                  <video preload="metadata" poster="vids/review2.jpg">
                    <source src="vids/review2.mp4" type="video/mp4"/>
                  </video>
                  <button type="button" class="btn video__btn playReview">Смотреть видеоотзыв</button>
                </div>
                <div class="review__content">
                  <div class="review__name">Наталья Заборенко</div>
                  <div class="review__info">Помощь в открытии детского центра</div>
                </div>
              </div>
              <div class="review">
                <div class="review__video video">
                  <video preload="metadata" poster="vids/review3.jpg">
                    <source src="vids/review3.mp4" type="video/mp4"/>
                  </video>
                  <button type="button" class="btn video__btn playReview">Смотреть видеоотзыв</button>
                </div>
                <div class="review__content">
                  <div class="review__name">Наталья Заборенко</div>
                  <div class="review__info">Помощь в открытии детского центра</div>
                </div>
              </div>
            </div>
            <div class="text-reviews">
              <div class="text-review"><img src="img/text-review-1.png"/></div>
              <div class="text-review"><img src="img/text-review-2.png"/></div>
              <div class="text-review"><img src="img/text-review-3.png"/></div>
              <div class="text-review"><img src="img/text-review-4.png"/></div>
              <div class="text-review"><img src="img/text-review-5.png"/></div>
              <div class="text-review"><img src="img/text-review-6.png"/></div>
            </div>
          </div>
        </section>
        <section class="edges-section">
          <div class="container relative">
            <h2 class="section__title bordered edges__title">6 неоспоримых преимуществ работы со мной</h2>
            <div class="row edges">
              <div class="edge">
                <div class="edge__icon edge__icon--grow"></div>
                <div class="edge__text"><b>Гарантирую</b> высокие результаты того, за что берусь</div>
              </div>
              <div class="edge">
                <div class="edge__icon edge__icon--folder"></div>
                <div class="edge__text"><b>Научу Вас не бояться</b> у меня богатый опыт успешного прохождения всевозможных проверок</div>
              </div>
              <div class="edge last-right">
                <div class="edge__icon edge__icon--map"></div>
                <div class="edge__text"><b>Работаю по всей России</b> от Калининграда до Владивостока</div>
              </div>
              <div class="edge last-bottom">
                <div class="edge__icon edge__icon--timer"></div>
                <div class="edge__text"><b>Ценю Ваше время</b> Проведу Вас коротким путем к желаемым целям</div>
              </div>
              <div class="edge last-bottom">
                <div class="edge__icon edge__icon--law"></div>
                <div class="edge__text"><b>Практика и опыт</b> Отлично разбираюсь в законах</div>
              </div>
              <div class="edge last-bottom last-right">
                <div class="edge__icon edge__icon--order"></div>
                <div class="edge__text"><b>Качественные услуги</b> официально и по договору</div>
              </div>
            </div>
            <div class="edges__img"><img src="img/edges-woman.png"/></div>
          </div>
        </section>
      </main>
      <footer>
        <div class="container relative">
          <h2 class="section__title bordered footer__title">Вы также можете связаться со мной по контактам ниже или оставить заявку в форме</h2>
          <div class="contacts">
            <div class="contact contact--whatsappviber">
              <div class="contact__label">WhatsApp / Viber</div><a class="contact__value phone">+7 (926) 168 98-61</a>
            </div>
            <div class="contact contact--instagram">
              <div class="contact__label">Instagram</div><a href="https://www.instagram.com/alena_yakovleva888/" target="_blank" class="contact__value">alena_yakovleva888</a>
            </div>
            <div class="contact contact--telegram">
              <div class="contact__label">Telegram</div><a href="https://telegram.im/@best_obrazovanie" target="_blank" class="contact__value">@best_obrazovanie</a>
            </div>
            <div class="contact contact--vk">
              <div class="contact__label">Группа ВК</div><a href="https://vk.com/bestobrazovanie" target="_blank" class="contact__value">vk.com/bestobrazovanie</a>
            </div>
            <div class="contact contact--email">
              <div class="contact__label">E-mail</div><a href="mailto:bestobrazovanie@inbox.ru" class="contact__value">bestobrazovanie@inbox.ru</a>
            </div>
          </div>
          <div class="contacts__form">
            <form id="contactsForm" class="ajaxForm">
              <div class="form__title">Форма обратной связи</div>
              <div class="form__content">
                <input type="hidden" name="action" value="callback"/>
                <input type="text" name="name" placeholder="Ваше имя" class="form__control"/>
                <input type="tel" name="phone" placeholder="Контакный телефон" class="form__control"/>
              </div>
              <button type="submit" class="btn form__btn contacts-form__btn">Перезвоните мне</button>
            </form>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
